{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    
    {{ form_widget(form) }}

    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}